.raleway {
    font-family: 'Raleway', sans-serif;
}

.mb-0 {
    margin-bottom: 0;
}

body {
    height: 100vh;
}

.brand-logo {
    margin-left: 12px;
}

.valign-wrapper {
    height: 100%;
}

.mt-5 {
    margin-top: calc(5 * 12px);
}

.full-height-first {
    height: calc(100vh - 64px);
}

.full-height {
    height: 100vh;
}

.input-field {
    color: rgba(255, 255, 255, .5);
}

.input-field label {
    color: white !important;
}

.row .input-field input,
.row .input-field textarea {
    border-bottom-color: rgba(255, 255, 255, .7);
}


/* label underline focus color */

.row .input-field input:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important
}